@model List<med_webb_CapaDato.Modelado.Usuario>

@{
    ViewBag.Title = "Usuarios";
    string descripcion = "Listado de Usuarios";
    int i = 1;
}

<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center"><strong>@descripcion</strong></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ActionLink("+ Agregar", "Crear", "Usuario", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="success">
                            <th class="text-center">#</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido1</th>
                            <th class="text-center">Apellido2</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Rol</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center"><strong>@i</strong></td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido1</td>
                                <td>@item.Apellido2</td>
                                <td>@item.Telefono</td>
                                <td>@item.Email</td>
                                <td>@item.Role.Nombre</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "Editar", "Usuario", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon-edit" })
                                        @Html.ActionLink(" ", "Eliminar", "Usuario", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
